/* src/videoItem/VideoItem.css */

.video-card {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.video-card:hover {
  transform: scale(1.01);
}

.video-card img {
  width: 100%;
  height: auto;
}

.video-card .card-body {
  padding: 10px;
}

.card-body .author-details :hover {
  color: #61dafb;
}
/* now for dark mode */
.dark-mode .video-card .card-body {
  background-color: #121212;
  outline-color: white;
  border-radius: 0px 0px 5px 5px;
}


.video-card .card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.video-card .card-text {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
  padding: 0;
}

.dark-mode .video-card .card-text {
  color: #aaa;
}

/* src/videoItem/VideoItem.css */
.author-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-profile-image {
  width: 10% !important;
  border-radius: 50%;
  margin-right: 10px;
}

.author-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
