.tags-container {
    display: flex;
    overflow-x: auto; /* Changed from hidden to auto */
    white-space: nowrap;
    padding: 0.5rem 0;
    margin: 0 2rem; /* Adjust margin to make space for scroll buttons */
    scroll-behavior: smooth;
  }
  
  
  .tags-inner {
    display: inline-flex;
  }
  
  .tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0 5px;
    font-size: 14px;
    color: #606060;
    border: 1px solid #d0d0d0;
    cursor: pointer;
  }
  
  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    color: #606060;
    cursor: pointer;
    padding: 5px;
  }
  
  .scroll-btn:focus {
    outline: none;
  }
  
  .scroll-btn.left {
    left: 5px;
  }
  
  .scroll-btn.right {
    right: 5px;
  }
  