/* src/components/userInfo/UserInfo.css */

.user-info {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .user-info .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-info .user-details {
    margin-right: 10px;
  }
  
  .user-info .signin-link {
    margin-left: auto; 
    padding-right: 10%; 
  }
  
  .user-info .signin-link .btn {
    white-space: nowrap; 
  }
  
  .user-info .signin-link .signin-text {
    margin-left: 5px;
  }
  
  .user-info .update-profile-link {
    color: #007bff; 
    text-decoration: none; 
  }
  
  .user-info .update-profile-link:hover {
    font-size: 1.01em;
    font-weight: bold;
  }
  