/* src/leftMenu/LeftMenu.css */

.left-menu {
  height: 100vh;
  transition: width 0.3s;
  position: fixed;
  padding-top: 10px;
  left: 0;
  overflow: hidden;
  z-index: 1000;
}

.dark-mode .left-menu {
  background-color: #121212 !important;
  color: #fff;
}

.left-menu.expanded {
  width: 200px;
}

.left-menu.collapsed {
  width: 80px;
}

.toggle-menu-btn {
  width: 100%;
}

.list-group-item {
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 5px;
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.menu-icon {
  font-size: 1.4em;
  margin-right: 10px;
}

/* Light Mode Styles */
body:not(.dark-mode) .left-menu {
  background-color: #f8f9fa;
  color: #000;
}

body:not(.dark-mode) .toggle-menu-btn {
  color: #000;
  background-color: #e9ecef;
}

body:not(.dark-mode) .toggle-menu-btn:hover {
  background-color: #ced4da;
}

body:not(.dark-mode) .list-group-item {
  background-color: #e9ecef;
  color: #000;
}

body:not(.dark-mode) .list-group-item:hover {
  background-color: #ced4da;
}
