/* src/videoItem/VideoItem.css */

.video-card {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.video-card:hover {
  transform: scale(1.05);
  .card-body {background-color: #ced4da;};
}

.video-card img {
  width: 100%;
  height: auto;
}

.video-card .card-body {
  padding: 10px;
}

/* now for dark mode */
.dark-mode .video-card .card-body {
  background-color: #121212;
}

.dark-mode .video-card:hover {
  .card-body {background-color: #202020e9;};
} 

.video-card .card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.video-card .card-text {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
  padding: 0;
}

.dark-mode .video-card .card-text {
  color: #aaa;
}
