.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main content adjustments */
.main-content {
  margin-left: 240px; /* Same width as the expanded sidebar */
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
  transition: margin-left 0.3s;
}

/* Adjust margin when the sidebar is collapsed */
.left-menu.collapsed + .main-content {
  margin-left: 80px; /* Same width as the collapsed sidebar */
}

/* Tags container style */
.tags-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 0.5rem 0;
  margin: 0 2rem; /* Adjust margin to make space for scroll buttons */
  scroll-behavior: smooth;
}

.tags-container button {
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

/* Scroll button style */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

/* Additional adjustments */
.tags-row {
  position: relative;
}
