/* src/App.css */

.App {
  text-align: center;
}

.app-logo {
  height: 40px; /* Adjust the logo size  */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main content adjustments */
.main-content {
  margin-left: 240px; /* Same width as the expanded sidebar */
  padding: 10px;
  overflow-y: auto;
  height: 100vh;
  transition: margin-left 0.3s;
}

/* Adjust margin when the sidebar is collapsed */
.left-menu.collapsed + .main-content {
  margin-left: 80px; /* Same width as the collapsed sidebar */
}

/* Flexbox container for search and sign-in button */
.search-signin-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  margin-bottom: 20px;
}

.search-signin-container .btn {
  margin-left: 20px;
}


/* Add space between the icon and the text in the sign-in button */
.bi-person-circle {
  margin-right: 5px; /* Adjust the margin as needed */
}


