/* src/SignUpStepTwo.css */
.signup-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signup-container form div {
  margin-bottom: 15px;
  text-align: left;
}

.signup-container form label {
  display: block;
  margin-bottom: 5px;
}

.signup-container form input,
.signup-container form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-container .error {
  color: red;
  font-size: 12px;
}

.signup-container .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-align: left;
}

.signup-container .checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #357ae8;
}
