/* src/SignUpTwo.css */
.signup-two-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: white;
  }
  
  .signup-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .signup-container form {
    width: 100%;
  }
  
  .signup-container form div {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .signup-container form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signup-container form input[type="text"],
  .signup-container form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-container .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .signup-container .checkbox-container input {
    margin-right: 5px;
  }
  
  .signup-container .button {
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-container .button:hover {
    background-color: #357ae8;
  }
  
  .upload-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    margin-left: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .upload-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .upload-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .upload-container input[type="file"] {
    margin-bottom: 15px;
  }
  
  .upload-container button {
    width: 100%;
    padding: 10px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload-container button:hover {
    background-color: #357ae8;
  }